html, body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url("/images/water0.png");
    font-family: monospace;
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url("/images/port.png");
}

#ship {
    background-image: url('/images/ship.png');
    width: 128px;
    height: 64px;
    position: absolute;
}

#sailbutton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5em 1.5em;
    border: none;
    background-color: rgb(186, 104, 145);
    color: white;
}

#sailbutton:hover {
    background-color: rgb(140, 77, 108);
}

#message{
    font-size: 1.2rem;
    background-color: bisque;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: .55em;
}